<div style="text-align:center">
<h1 style="color: blueviolet;" > Développement personnel</h1>
<p>Dans cette catégorie : tous les ouvrages qui peuvent aider à mieux vivre</p></div>
<div class="card-deck">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="assets/image/1.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">Sortir des émotions négatives: Retrouver ses forces</h4>
        <p class="card-text">Ce livre propose de faire face à la toxicité émotionnelle avec un programme d’autogestion des émotions négatives (PAEN). Ce programme original aidera chacun à établir de nouveaux ancrages sécurisants pour mieux vivre. Vous y découvrirez, également,
            le pouvoir des émotions positives ainsi que des exercices pratiques pour canaliser vos émotions négatives vers l’optimisme et la créativité. </p>
        <a href="#" class="btn btn-primary">Acheter</a>
      </div>
    </div>
    <div class="card" style="width:300px">
      <img class="card-img-top" src="assets/image/2.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">La Boussole des émotions        </h4>
        <p class="card-text">Médecin, professeur, acupuncteur et conférencière internationale, le docteur Nadia Volf nous aide à contrôler nos émotions.
             Que se passe-t-il dans notre corps lorsque la vie nous confronte à des chocs, des traumatismes, des ruptures, des échecs ? Le but de ce livre est triple : accepter, comprendre, faire de notre corps un allié !
            </p>
        <a href="#" class="btn btn-primary">Acheter</a>
      </div>
    </div>
    <div class="card" style="width:100px">
      <img class="card-img-top" src="assets/image/3.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">Cultivez l'énergie positive </h4>
        <p class="card-text">Est-il possible de trouver un bonheur durable ? Comment apprendre à s'aimer vraiment ?

            Dans ce livre, Vex King répond à toutes ces questions et bien plus encore. Coach, il a surmonté l'adversité pour devenir une source d'espoir pour des milliers de jeunes, et s'inspire aujourd'hui de son expérience personnelle et de sa sagesse intuitive</p>
        <a href="#" class="btn btn-primary">Acheter</a>
      </div>
    </div>
  </div>
