<h1>SMART BOOK STORE</h1><br>
<div class="container">
    <div id="carousel">
        <figure><img src="assets/image/1.jpg"></figure>
        <figure><img src="assets/image/2.jpg"></figure>
        <figure><img src="assets/image/3.jpg"></figure>
        <figure><img src="assets/image/4.jpg"></figure>
        <figure><img src="assets/image/10.jpg"></figure>
        <figure><img src="assets/image/5.jpg"></figure>
        <figure><img src="assets/image/6.jpg"></figure>
        <figure><img src="assets/image/7.jpg"></figure>
        <figure><img src="assets/image/8.jpg"></figure>
    </div>
</div>