<div class="col-md-8 offset-md-3">
    <h3 style="text-align: center;font-family: 'Times New Roman';font-size: x-large;color: #007bff">Modifier Livre</h3>

    <form (ngSubmit)="onSubmit()">


      <div class="form-group">
        <label>Numero de serie</label>
        <input type="number" class="form-control" id="numSerie"
               [(ngModel)]="l. numSerie" name="cin">
      </div>
      <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" id="nom"
               [(ngModel)]="l.nom" name="nom">
      </div>
      <div class="form-group">
        <label> rubrique</label>
        <input type="text" class="form-control" id=" rubrique"
               [(ngModel)]="l. rubrique" name=" rubrique">
      </div>


      <div class="form-element">
        <button  color="primary" type="submit" class="btn btn-success" style="background-color: darkcyan">Modifier</button>
        <button  color="primary" (click)="retour()"  class="btn btn-danger" style="background-color: #8B4043">Retour</button>
      </div>


    </form>
  </div>
