<div class="col-md-8 offset-md-3">
    <h3 style="text-align: center;font-family: 'Times New Roman';font-size: x-large;color: #007bff">Ajout lecteur</h3>

    <form (ngSubmit)="onSubmit()">


      <div class="form-group">
        <label>Cin</label>
        <input type="number" class="form-control" id="cin"
               [(ngModel)]="l.cin" name="cin">
      </div>
      <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" id="nom"
               [(ngModel)]="l.nom" name="nom">
      </div>
      <div class="form-group">
        <label>Prenom</label>
        <input type="text" class="form-control" id="prenom"
               [(ngModel)]="l.prenom" name="prenom">
               <div class="form-group">
                <label> Password</label>
                <input type="text" class="form-control" id=" email"
                       [(ngModel)]="l.password" name=" password">
              </div>
              <div class="form-group">
                <label> Login</label>
                <input type="text" class="form-control" id=" email"
                       [(ngModel)]="l.login" name=" login">
              </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" id="email"
               [(ngModel)]="l.email" name="email">
      </div>
      <div class="form-group">
        <label>Adresse</label>
        <input type="text" class="form-control" id="adresse"
               [(ngModel)]="l.adresse" name="adresse">
      </div>
      <div class="form-group">
        <label>Telephone</label>
        <input type="numbe" class="form-control" id="telephone"
               [(ngModel)]="l.telephone" name="telephone">
      </div>



      <div class="form-element">
        <button  color="primary" type="submit" class="btn btn-success" style="background-color: darkcyan">Ajouter</button>
        <button  color="primary" (click)="retour()"  class="btn btn-danger" style="background-color: #8b4043">Retour</button>
      </div>


    </form>
    </div>
